<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kauppalista</title>
    </head>

    <body>
        <h1>Kauppalista</h1>

        <table>
            <tr>
                <th>Tuote</th>
                <th></th>
            </tr>

            <tr th:each="tuote : ${tuotteet}">
                <td><a th:href="@{/{tuote}(tuote=${tuote.id})}" th:text="${tuote.tuoteNimi}">Item name</a></td>
                <td><form th:action="@{/{tuote}(tuote=${tuote.id})}" th:method="DELETE"><input type="submit" value="Ostettu"/></form></td>
            </tr>
        </table>


        <h2>Lisää tuote</h2>

        <form action="/" method="POST">
            <span>Tuote:</span>
            <input type="text" name="tuoteNimi"/>
            <input type="submit" value="Lisää!"/>
        </form>
    </body>
</html>
